html
{
  background-color: #DBBC42;
  font-family: 'Anton', sans-serif;
}
h1 {
  font-size: 60px;
  text-shadow: 3px 5px black;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  color: skyblue;
}
p, li {
  font-size: 20px;    
  line-height: 3;
  letter-spacing: 3px;
  color: #1b0e01;
}
a
{
  color: skyblue;
}
image
{
  display: block;
  margin: 0 auto;

}
body {
  
  width: 1000px;
  margin:0 auto;
  background-color: #FF9500;
  padding: 0px 150px 0px 150px;
  border: 5px solid black;
}
button
{
  font-size: 30px;
  display: block;
  margin: 50px auto;
}
